/*CSS For the top section*/
/*for navbar*/
body{
    background-image: url(cement-bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
#brand-name{
    padding-left: 10px;
    color: #851e3e;
    font-size: 30px;
}
#navbar{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D1C4EC;
    position: fixed;
}
@media(max-width: 550px){
    #navbar{
        display: flex;
        flex-direction: column;
    }
}
#navbar ul{
    display: flex;
    gap: 1rem;
    padding-right: 10px;

}
#navbar ul a:hover{
    cursor: pointer;
    background-color: aqua;
    transition: 1s;
}
#buyers{
    color: #ff3377;
}
#sellers{
    color: #ff3377;
}
#about{
    color: #ff3377;
}
#blogs{
    color: #ff3377;
}
#feedback-nav{
    color: #ff3377;
}
#logo{
    width: 100%;
    text-align: center;
}
@media(max-width:678px){
    #logo{
        width: 100vb;
    }
}
#logo-img{
    width: 350px;
    height: 250px;
}





.section{
    width: 100%;
    height: 100%;
    background-image: url(guidancefirstbackground.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media(max-width:678px){
    .section{
        width: 100vb;
    }
}
.message{
    width: 50%;
    margin: auto;
}
#Guidance{
    color: white;
    font-size: 30px;
}
/*css for lets get started*/
#get-started{
    width: 100%;
    height: 100%;
    text-align: center;
}
@media(max-width:678px){
    #get-started{
        width: 100vb;
    }
}
#swag-line{
    font-size: 25px;
}
#centered-text{
    font-size: 25px;
}
#tagline{
    text-align: center;
}
#boxes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#buyer-box{
    width: fit-content;
    background-color: #ff3377;
    border-radius: 40px;
}
#buyer-box:hover{
    cursor: pointer;
}
#seller-box{
    width: fit-content;
    background-color: aquamarine;
    border-radius: 40px;
}
#seller-box:hover{
    cursor: pointer;
}
#ocean-video{
    width: 100%;
    height: 300px;
}
@media(max-width:678px){
    #ocean-video{
        width: 100vb;
    }
}
/*icons*/
#follow-heading{
    font-size: 30px;
}
.fa-facebook{
    font-size: 25px;
}
.fa-instagram{
    font-size: 25px;
}
/*tags*/
#tags{
    display: flex;
    gap: 1rem;
}
#tag-title{
    font-size: 30px;
}
#hashtags{
    background-color: #84a98c;
    font-size: 18px;
}




















